@import url("https://fonts.googleapis.com/css?family=Lato");
body {
  font-family: "Lato", Tahoma, sans-serif, Arial;
  font-weight: 300;
  text-align: center;
  line-height: 25px;
  font-size: 95%;
  color: #474747;
  padding: 0;
  margin: 0;
}

body a {
  color: white;
  cursor: pointer;
  text-decoration: none;
}

body a:hover {
  color: white;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
}

.grid1-3 {
  -webkit-box-flex: 33.3%;
      -ms-flex: 33.3%;
          flex: 33.3%;
  max-width: 33.3%;
}

.grid2-3 {
  -webkit-box-flex: 66.6%;
      -ms-flex: 66.6%;
          flex: 66.6%;
  max-width: 66.6%;
}

.grid1-2 {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  max-width: 50%;
}

@media (max-width: 991px) {
  .tablet-6 {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
    max-width: 50%;
  }
  .tablet-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (max-width: 767px) {
  .mobile-12 {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    max-width: 100%;
  }
}

.flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

section {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .icon {
  width: 50px;
}

.separator {
  border-right: solid 1px #c5c5c5;
  margin: 0 15px;
}

.social {
  padding: 10px 0 40px 0;
  border-bottom: solid 1px #c5c5c5;
  margin: 25px 0 25px 0;
}

.social .bottomside {
  margin: 10px 0;
}

.social .bottomside img:hover {
  opacity: 0.5;
}

.social .button {
  background-color: #be8d53;
  padding: 10px 25px;
  font-weight: 500;
}

.is_decathlon {
  padding: 40px 0;
}

.is_decathlon .text_centered {
  padding: 15px 25px;
}

.is_decathlon img {
  width: 100%;
}

.is_quechua {
  padding: 40px 0;
}

.is_quechua .banner img {
  -webkit-transform: scaleY(1.2);
          transform: scaleY(1.2);
}

.is_quechua .text_centered {
  padding: 15px 25px;
}

.is_quechua .logo-quechua {
  width: 125px;
}

.is_quechua img {
  width: 100%;
}

.best_brands {
  padding: 40px 0;
}

.best_brands .text_centered {
  padding: 15px 25px;
}

.best_brands .logos img {
  margin: 5px auto;
  max-width: 357px;
  max-height: 317px;
}

.find_in {
  padding: 40px 0;
}

.find_in .text_centered {
  padding: 15px 65px;
}

.find_in iframe {
  height: 350px;
}

footer {
  padding: 40px 0;
  border-top: solid 1px #c5c5c5;
  margin: 25px 0;
}

footer a {
  color: black;
}

footer a:hover {
  color: #c5c5c5;
}

footer .text_centered {
  padding: 5px 15px;
}

footer .thank {
  font-weight: bold;
  padding: 20px 0;
}

/* Responsive */
@media (max-width: 992px) {
  .social .tablet-12 {
    margin: 20px 0;
  }
}

@media (max-width: 767px) {
  .is_decathlon {
    padding: 5px 0;
  }
  .is_decathlon .grid1-3 {
    margin-bottom: 20px;
  }
  .best_brands {
    padding: 5px 0;
  }
  .best_brands .grid1-3 {
    margin-bottom: 20px;
  }
  .best_brands img {
    margin-bottom: 10px;
  }
  .is_quechua .logo-quechua {
    margin-top: 50px;
  }
  .find_in {
    padding: 5px 0;
  }
  .find_in .grid2-3 {
    margin-top: 20px;
  }
  .find_in .grid1-3 {
    margin-top: 20px;
  }
}
/*# sourceMappingURL=custom.css.map */